{% extends 'base.html.twig' %}

{# import "_self" as the form theme #}

{# make the form fragment customization #}
{% block form_row %}
    {% spaceless %}
    <div class="form-group">
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
    {% endspaceless %}
{% endblock form_row %}

{% block form_widget %}
    {% set type = type|default('text') %}
    <input class="form-control" type="{{ type }}" {{ block('widget_attributes') }} value="{{ value }}" />
{% endblock %}

{% block integer_widget %}
    {% set type = type|default('number') %}
    <input class="form-control" type="{{ type }}" {{ block('widget_attributes') }} value="{{ value }}" min="1" max="10" />
{% endblock integer_widget %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
        <ul>
            {% for error in errors %}
                <li>{{ error.message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{%- block button_widget -%}
    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
            }) %}
        {%- elseif label is same as(false) -%}
            {% set translation_domain = false %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    <button class="btn btn-success" type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}</button>
{%- endblock button_widget -%}