{% trans_default_domain 'FOSUserBundle' %}
<body>
<div class="row text-center">
    <div class="card col-12">
        <div class="card-header"><h1 class="text-center">PERFIL</h1></div>
        <div class="card-body">
            
            <div class="row">
                <div class="col-4"><h4 class="text-right"><b>Nombre:</b></h4></div>
                <div class="col-8"><h4 class="text-left">{{ user.nombre }}</h4></div>
            </div>

            <div class="row">
                <div class="col-4"><h4 class="text-right"><b>Apellido Paterno:</b></h4></div>
                <div class="col-8"><h4 class="text-left">{{ user.aPaterno }}</h4></div>
            </div>

            <div class="row">
                <div class="col-4"><h4 class="text-right"><b>Apellido Materno:</b></h4></div>
                <div class="col-8"><h4 class="text-left">{{ user.aMaterno }}</h4></div>
            </div>

            <div class="row">
                <div class="col-4"><h4 class="text-right"><b>Correo Institucional:</b></h4></div>
                <div class="col-8"><h4 class="text-left">{{ user.email ~ "@uabc.edu.mx" }}</h4></div>
            </div>
        </div>

        <div class="card-footer">
            {% if not is_granted('ROLE_ADMIN') and is_granted('ROLE_USER') %}
                <a class="btn btn-secondary" href="{{ path('registro') }}">Editar Perfil</a>
            {% else %}
                <a class="btn btn-secondary" href="{{ path('admin_perfil_editar') }}">Editar Perfil</a>
                <a class="btn btn-secondary" href="{{ path('fos_user_change_password') }}">{{ "Cambiar Contraseña" }}</a>
            {% endif %}
            
        </div>
    </div>
</div>
</body>