{% extends 'base.html.twig' %}

{% block body %}
	<div class="container col-md-10"><br/><br/>
		<div class="row">
			<div class="col-md-1"><button class="btn btn-info btn-sm float-left" type="button">{{ periodo }}</button></div>
	        <div class="col-md-10"><h1 class="text-center"> ASESORES </h1></div>
	        <div class="col-md-1"><button type="button" class="btn btn-primary btn-sm float-right">Agregar</button></div>
		</div>
		<div class="row">
			<table class="table table-bordered table-striped">
				<thead>
			    	<tr>
			      		<th>Matrícula</th>
      					<th>Nombre</th>
      					<th>Apellido Paterno</th>
      					<th>Apellido Materno</th>
      					<th>Detalles</th>
      					<th>Acción</th>
			    	</tr>
			  	</thead>
				<tbody>
					{% for asesor in asesores %}
						<tr>
							<td>{{ asesor.matricula }}</td>
							<td>{{ asesor.nombre }}</td>
							<td>{{ asesor.apaterno }}</td>
							<td>{{ asesor.amaterno }}</td>
							<td>Detalles</td>
							<td>
								<button class="btn btn-warning text-white btn-sm">Editar</button>
								<button class="btn btn-danger btn-sm">Eliminar</button>
							</td>
						</tr>
					{% endfor %}
			  	</tbody>
			</table>
		</div>
	</div>
{% endblock %}