{% extends 'base.html.twig' %}

{% block body %}
	<div class="row">
		<div class="col">
			{% if app.session.flashbag.peekAll()|length > 0 %}
				{% for tipo, flashes in app.flashes() %}
					{% for flash in flashes %}
					    <div class="alert alert-{{tipo}} alert-dismissible fade show" role="alert">
					    	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					    		<span aria-hidden="true">&times;</span>
					    	</button>
					    	{{ flash }}
					    </div>
					{% endfor %}
				{% endfor %}
			{% endif %}
		</div>
	</div>	
	<div class="row text-center">
	    <div class="card col">
	    	<div class="card-header">
	    	    <h1>HISTORIAL</h1>
	    	</div>
			<div class="card-body">
				<div class="row pb-2">
					<div class="col text-left">
						<h5><strong>Asesor:</strong> {{ asesor_nombre }}</h5>
					</div>
				</div>
				{% if citas|length > 0 %}
					<table class="table table-bordered table-striped">
						<thead>
					    	<tr>
					    		<th>ID</th>
					      		<th>Tema(s)</th>
								<th>Materia</th>
								<th>Cantidad</th>
								<th>Alumno</th>
								<th>Detalles</th>
					    	</tr>
					  	</thead>
						<tbody>
							{% set i = 0 %}
							{% for cita in citas %}
								<tr>
									<td>{{ cita.id }}</td>
									<td>{{ cita.tema }}</td>
									<td>{{ cita.materia }}</td>
									<td>{{ cita.cantidad }}</td>
									<td>{{ nombres[i] }}</td>
									<td><a class="btn btn-secondary" href="{{ path('solicitudes_detalles',{'id': cita.id }) }}">Ver</a></td>
								</tr>
								{% set i = i + 1 %}
							{% endfor %}
					  	</tbody>
					</table>
				{% else %}
					<div class="row">
						<div class="col">
							<div class="alert alert-danger">
								<p class="lead">El historial del asesor se encuentra {{"vacío"}}, no cuenta con ninguna cita. <br/>
								Para volver haga click <a href="{{ path("admin_home") }}">{{"aquí"}}</a></p>
							</div>
						</div>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}