{% trans_default_domain 'FOSUserBundle' %}

<h1>REGISTRO</h1>
{{ form_start(form) }}

<div class="form-group">
    {{ form_label(form.username) }}
    {{ form_widget(form.username) }}
    {{ form_errors(form.username) }}
</div>

<div class="form-group">
    {{ form_label(form.email) }}
    {{ form_widget(form.email) }}
    {{ form_errors(form.email) }}
</div>

<div class="form-group">
    {{ form_label(form.plainPassword.first) }}
    {{ form_widget(form.plainPassword.first) }}
    {{ form_errors(form.plainPassword.first) }}
</div>

<div class="form-group">
    {{ form_label(form.plainPassword.second) }}
    {{ form_widget(form.plainPassword.second) }}
</div>

{{ form_rest(form) }}

{#
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_row(form) }}
#}
    <div>
        <input class="btn btn-primary"type="submit" value="{{ 'Registrarse'|trans }}" />
    </div>

{{ form_end(form) }}
