{% extends "base.html.twig" %}

{% block body %}

<div class="row">
    <div class="card col-12">
        <div class="card-header">
            <h1 class="text-center">Detalles</h1>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="tema">Tema</label>
                <input class="form-control" id="tema" type="text" placeholder="{{ cita.tema }}" readonly>
            </div>
            <div class="form-group">
                <label for="materia">Materia</label>
                <input class="form-control" id="materia" type="text" placeholder="{{ cita.materia }}" readonly>
            </div>
            <div class="form-group">
                <label for="cantidad">Cantidad de Alumnos</label>
                <input id="cantidad" class="form-control" type="text" placeholder="{{ cita.cantidad }}" readonly>
            </div>

            {% if not is_granted('ROLE_ADMIN') and is_granted('ROLE_USER') and app.user.asesor %}
                <div class="form-group">
                    <label for="asesor">Alumno</label>
                    <input id="asesor" class="form-control" type="text" placeholder="{{ cita.alumno.nombre ~ " " ~ cita.alumno.aPaterno ~ " " ~ cita.alumno.aMaterno }}" readonly>
                </div>

                <div class="form-group">
                    <label for="correo">Correo del Alumno</label>
                    <input id="correo" class="form-control" type="text" placeholder="{{ cita.alumno.correo ~ "@uabc.edu.mx" }}" readonly>
                </div>
            {% else %}
                {% if cita.asesor != null %}
                    <div class="form-group">
                        <label for="asesor">Asesor</label>
                        <input id="asesor" class="form-control" type="text" placeholder="{{ cita.asesor.nombre ~ " " ~ cita.asesor.aPaterno ~ " " ~ cita.asesor.aMaterno }}" readonly>
                    </div>

                    <div class="form-group">
                        <label for="correo">Correo del Asesor</label>
                        <input id="correo" class="form-control" type="text" placeholder="{{ cita.asesor.correo ~ "@uabc.edu.mx" }}" readonly>
                    </div>
                {% endif %}
            {% endif %}


            {% if cita.asesor == null %}
                <div class="form-group">
                    <label for="asignar">Estado</label>
                    <input id="asignar" class="form-control" type="text" placeholder="Sin Asignar" readonly>
                </div>
            {% else %}
                <div class="form-group">
                    <label for="fecha">{{"Cita para Asesoría"}}</label>
                    <input id="fecha" class="form-control" type="text" placeholder="{{ cita.fecha|date('d-m-Y H:i') }}" readonly>
                </div>
            {% endif %}

            {% if cita.asesor == null %}
                <div class="form-group">
                    <h3 class="text-center">Horario Disponible</h3>
                    {% if not is_granted('ROLE_ADMIN') and is_granted('ROLE_USER') and app.user.asesor %}
                        <h5 class="text-center">{{"(Haga click sobre algún cuadro para seleccionar)"}}</h5>
                    {% endif %}
                    <table id="horario" class="table table-bordered table-dark text-center horario">
                    </table>
                </div>
            {% endif %}

            {% if not is_granted('ROLE_ADMIN') and is_granted('ROLE_USER') and app.user.asesor %}
            <form id="aceptar_form" action="{{ path('solicitudes_aceptar') }}" method="post">
                <input type="hidden" name="id" value="{{ cita.id }}">
                <input id="fecha_input" type="hidden" name="fecha" value="">
                <input id="hora_input" type="hidden" name="hora" value="">
            {% endif %}
        </div>
        <div class="card-footer">
            {% if not is_granted('ROLE_ADMIN') and is_granted('ROLE_USER') and app.user.asesor and cita.asesor == null %}
                <button type="submit" class="btn btn-success">Aceptar</button>
                </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var dibujar = "{{ cita.asesor == null }}";
        var dia = new Date("{{ cita.diaCreado|date('Y-m-d h:m:s') }}");
        var horario = JSON.parse("{{ cita.horario|json_encode|raw }}");
        var isAlumno = "{{ not is_granted('ROLE_ADMIN') and is_granted('ROLE_USER') and not app.user.asesor }}";
    </script>
    <script type="text/javascript" src="{{ asset('resources/js/citas/detalles_v2.js') }}"></script>
{% endblock %}