{% extends "::base.html.twig" %}

{% block body %}
<div class="row">
    <div class="card col-12">
        <div class="card-header">
            <h2 class="text-center">Nueva Solicitud</h2>
        </div>

        <div class="card-body">
            {{ form_start(form) }}
            {{ form_row(form.tema) }}
            {{ form_row(form.materia) }}
            {{ form_row(form.cantidad) }}
            {{ form_row(form.horario) }}

            <h3 class="text-center">Horario disponible</h3>
            <h5 class="text-center">{{"(Haga click sobre algún cuadro para seleccionar)"}}</h5>
            
            <table class="table table-bordered table-dark text-center table-responsive{-sm|-md|-lg|-xl} col-12" id="horario"></table>
        </div>

        <div class="card-footer text-center">
            <button class="btn btn-success col-6" type="submit">Guardar</button>
            {{ form_end(form) }}
        </div>
    </div>

    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('resources/js/citas/calendario.js') }}"></script>
{% endblock %}
