{% extends "base.html.twig" %}

{% block body %}
<h1>Solicitudes</h1>
{% set indice = -1 %}
{% for cita in citas %}
	{% set indice = indice + 1 %}
	<ul>
    	<li>{{ cita.tema }}</li>
    	<li>{{ cita.materia }}</li>
    	<li>{{ cita.cantidad }}</li>
    	<li>
    		
    		{% set indices = "" %}
    		{% for i in 0..(cita.horario|length - 1) %}
    			{% set indices = indices ~ "," ~ cita.horario[i] %}
    		{% endfor %}

    		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#infoModal" data-id="{{ cita.id }}" data-tema="{{ cita.tema }}" data-materia="{{ cita.materia }}" data-array="{{ indices }}">
    			Detalles
    		</button>
    	</li>
	</ul>

{% endfor %}
	<!-- Modal -->
	<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Solicitud</h5>
						</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form action="{{ path('solicitudes') }}" method="post">
							<div class="form-group">
								<label for="tema">Tema</label>
								<input class="form-control" id="tema" type="text" placeholder="" readonly>
							</div>
							<div class="form-group">
								<label for="materia">Materia</label>
								<input class="form-control" id="materia" type="text" placeholder="" readonly>
							</div>
							<div class="form-group">
								<label for="cantidad">Cantidad</label>
								<input class="form-control" type="text" placeholder="" readonly>
							</div>
							<input id="input_id" type="hidden" value="" name="cita_id"/>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
						<button type="submit" class="btn btn-primary">Aceptar Solicitud</button>
					</div>
					</form>
				</div>
			</div>
	</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('resources/js/citas/detalles.js') }}"></script>
{% endblock %}