{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('resources/css/login/signin.css') }}">
{% endblock %}

{% block navbar %}{% endblock %}

{% block body %}
<div class="row align-middle">
    <div class="col-12">
        <form class="form-signin" action="{{ path('login') }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <input type="hidden" id="password" name="_password" />
            <input type="hidden" name="_target_path" value="/" />
            
            <h1 class="h3 mb-3 font-weight-normal">Asesorías FC</h1>

            <label for="username" class="sr-only">{{"Matrícula"}}</label>

            <div class="input-group mb-3">
                <input class="form-control" type="text" id="username" name="_username" required="required" placeholder="{{'Matrícula'}}" minlength="6" maxlength="8" pattern="^[0-9]+$" />
                <div class="input-group-append">
                    <input type="submit" id="_submit" class="btn btn-lg btn-success btn-block" name="_submit" value="Entrar" />
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function(){
            $("#username").oninvalid = function () {
                this.setCustomValidity("Una matrícula solamente debe contener números.");
                this.setCustomValidity("");
            };
        });
    </script>
{% endblock %}